pandas
numpy
matplotlib
seaborn
plotly
datetime
yfinance
wikipedia
wordcloud
Wikipedia-API
scikit-learn
nltk
gensim
textblob
spacy
spacy-transformers
spacytextblob
pyLDAvis
transformers
pyspellchecker
contractions
torch
flair
geopandas
pygeodesy
marisa_trie
pdfminer
bs4
PyMuPDF
PyPDF2
pdfplumber
langchain
langchain-community
d3blocks