pandas
numpy
matplotlib
seaborn
plotly
datetime
yfinance
wikipedia
wordcloud
Wikipedia-API
scikit-learn
nltk
gensim
textblob
spacy
spacy-transformers
spacytextblob
pyLDAvis
transformers
pyspellchecker
contractions
flair
geopandas
pygeodesy
pdfminer
bs4
PyMuPDF
PyPDF2
pdfplumber
d3blocks
dateparser